.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

.btn-Reservar {
    width: 100%;
    border-radius: 0px;
} 

footer {
    padding: 10px 10px 0 10px;
    background-color: green;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-tour {
    flex: 1 150px;
    padding: 2px 7px 2px 7px;
}

.footer-address-icon {
padding-right: 10px;
}

.tab-content {
    padding: 10px;
}
    



